.shopping-list {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: auto;
}
  
.shopping-list input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
  
.shopping-list button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: 5px solid white;
    cursor: pointer;
}
  
.shopping-list button:hover {
    background-color: #45a049;
}
  
.shopping-list ul {
    list-style-type: none;
    padding: 0;
}
  
.shopping-list li {
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 6px;
}
  